<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Page Login </title>
</head>
<body>
<nav>
    <nav class="navbar">
        <ul>
            <li><a href="register.html">Register</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
    </nav>
</nav>

<!-- partie pour login -->
<section class="register-part1">
    <h1><strong> Login Page </h1></strong>
    


</section>
</body>
</html>