<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Liste des équipes</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-left">
            <div class="navbar-right">
                <a href="{% url 'home' %}">Web Serveur</a>
            </div>
        </div>
    </nav>

    <main class="container">
        <h1>Liste des équipes</h1>

        {% if teams %}
            <ul class="team-list">
                {% for team in teams %}
                    <li>
                        <strong>{{ team.name }}</strong> <br>
                        Membres : {{ team.members.count }}<br>
                        {% if team.members.all %}
                            <ul>
                                {% for member in team.members.all %}
                                    <li>{{member.username}}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <em>Aucun membre</em>
                        {% endif %}
                        {% if user in team.members.all %}
                        <form method="post" action="{% url 'quitTeam' team.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" id="btn-quitter" class="btn btn-quitter">Quitter</button>
                        </form>
                        {% else %}
                            <a href="{% url 'joinTeam' team.id %}" class="btn btn-primary">Rejoindre</a>
                        {% endif %}

                        {% if user.is_superuser %}
                        <form method="post" action="{% url 'deleteTeam' team.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucune équipe disponible.</p>
        {% endif %}
    </main>
</body>
</html>
