
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Charger le tag static -->
    {% load static %}
    <title>Join Team</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
     <!-- Navbar simple -->
   
     <nav class="navbar">
        <div class="navbar-left">
            <div class="navbar-right">
    
                <a href="{% url 'home' %}">Web Serveur</a>
            </div>
    
        </div>
        <div class="navbar-right">
            {% if user.is_authenticated %}
                <p>Connecté : {{ user.username }}</p>
                <a href="{%url 'logout' %}">Se déconnecter</a>
            {% else %}
                <a href="register/">Register</a>
                <a href="login/">Login</a>
            {% endif %}
        </div>
    </nav>

    <main class="QuitContainer">
        <h1>Quitter l'équipe : {{ team.name }}</h1>

        {% if user in team.members.all %}
            <p>Êtes-vous sûr de vouloir quitter l'équipe <strong>{{ team.name }}</strong> ?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Quitter l'équipe</button>
                <a  href="{% url 'home' %}" class="btn btn-secondary">Annuler</a>
            </form>
        {% else %}
            <p>Vous ne faites pas partie de cette équipe.</p>
            <a  href="{% url 'home' %}" class="btn btn-secondary">Retour</a>
        {% endif %}
    </main>


</body>
</html>