
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Liste des équipes</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="navbar-left">
          <div class="navbar-right">
  
              <a href="{% url 'home' %}">Web Serveur</a>
          </div>
  
      </div>
      <div class="navbar-right">
          {% if user.is_authenticated %}
              <p>Connecté : {{ user.username }}</p>
              <a href="{%url 'logout' %}">Se déconnecter</a>
          {% else %}
              <a href="register/">Register</a>
              <a href="login/">Login</a>
          {% endif %}
      </div>
  </nav>

{% block content %}
  <h2>Profil de l'équipe : {{ team.name }}</h2>

  <h3>Membres</h3>
  <ul>
    {% for member in members %}
      <li>{{ member.username }} ({{ member.email }})</li>
    {% empty %}
      <li>Aucun membre</li>
    {% endfor %}
  </ul>

  <h3>Tâches assignées</h3>
  <ul>
    {% for task in tasks %}
      <li>{{ task.title }} - {{ task.statut }}</li>
    {% empty %}
      <li>Aucune tâche assignée</li>
    {% endfor %}
  </ul>

  <a class="btn" href="{% url 'listTeam' %}">← Retour à la liste des équipes</a>
{% endblock %}
<footer class="footer">
  <div class="container">
      <p class="footer-text">
          © 2025 Gestion des tâches 
          <a> Mentions légales</a> 
          <a> Contact</a>
      </p>
  </div>
</footer>
</body>
</html>