
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Liste des équipes</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="navbar-left">
          <div class="navbar-right">
  
              <a href="{% url 'home' %}">Web Serveur</a>
          </div>
  
      </div>
      <div class="navbar-right">
          {% if user.is_authenticated %}
              <p>Connecté : {{ user.username }}</p>
              <a href="{%url 'logout' %}">Se déconnecter</a>
          {% else %}
                <a href="{% url 'register' %}">Register</a>
                <a href="{% url 'login' %}">Login</a>
          {% endif %}
      </div>
  </nav>

  <h2>Profil de l'équipe : {{ team.name }}</h2>

  <h3>Membres</h3>
  <ul>
    <!-- Pour chaque membre de l'équipe on affiche son nom et son email ainsi qu'un
     bouton pour voir son profile -->
    {% for member in members %}
      <li>{{ member.username }} ({{ member.email }})</li>
      <a class="btn-task create" href="{% url 'memberProfile' member.id %}">Voir Profile</a>

    <!-- Si l'équipe est vide -->
    {% empty %}
      <li>Aucun membre</li>
    {% endfor %}
  </ul>
  <h3>Tâches assignées</h3>
  <!-- Pour chaque tache de l'équipe on affiche le nom de la tâche et son statut-->
  <ul>
    {% for task in tasks %}
      <li>{{ task.title }} - {{ task.statut }}</li>
    {% empty %}
      <li>Aucune tâche assignée</li>
    {% endfor %}
  </ul>

<footer>

  {% if user.is_superuser %}
    <a class ="btn-admin" href="{% url 'deleteTeam' team.id %}">Supprimer Equipe</a>
  {% endif %}
  <!-- Bouton retour à la liste d'équipe-->
  
  <a class="btn" href="{% url 'listTeam' %}">← Retour à la liste des équipes</a>

</footer>

</body>

</html>