<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Charger le tag static -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <title>page d'acceuil Web Serveur</title>
</head>
<body>

    <!-- NAVIGATION -->
<nav class="navbar">
    <div class="navbar-left">
        <div class="navbar-right">

            <a href="{% url 'home' %}">Web Serveur</a>
        </div>

    </div>
    <div class="navbar-right">
        {% if user.is_authenticated %}
            <p>Connecté : {{ user.username }}</p>
            <a href="{%url 'lgout' %}">Se déconnecter</a>
        {% else %}
            <a href="register/">Register</a>
            <a href="login/">Login</a>
        {% endif %}
    </div>
</nav>
<section class="welcome-container">
    <h1>Bienvenue sur Web Serveur</h1>
    <p>Connectez-vous ou inscrivez-vous pour commencer.</p>
</section>
<a href="{% url 'create' %}" class="btn-task create">Créer une Tâche</a>
<!-- j'ignore les tasks sans id -->

{% for task in tasks %}
    <div class="task-item">
        <p>{{ task.title }}</p>

        {% if task.id %}
            <a href="{% url 'update' task.id %}" class="btn-task update">Modifier</a>
            <a href="{% url 'delete' task.id %}" class="btn-task delete">Supprimer</a>
        {% endif %}
    </div>
{% empty %}
    <p>Aucune tâche trouvée.</p>
{% endfor %}



</body>
</html>