<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue</title>
</head>
<body>

    <!-- NAVIGATION -->
<nav class="navbar">
    <div class="navbar-left">Web Serveur</div>
    <div class="navbar-right">
        <a href="login.html">Login</a>
        <a href="register.html">Register</a>
    </div>
</nav>
<section class="welcome-container">
    <h1>Bienvenue sur Web Serveur</h1>
    <p>Connectez-vous ou inscrivez-vous pour commencer.</p>
</section>
</body>
</html>