<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Charger le tag static -->
    {% load static %}
    <title> Page List </title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

      <h1>Liste des Tâches</h1>
    
      <table>
        <thead>
          <tr>
            <th> ID   </th>
            <th>Titre</th>
            <th>Description</th>
            <th>Statut</th>
            <th>Créée par</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
            <tr>
              <td>{{ task.id  }}</td>
              <td>{{ task.title }}</td>
              <td>{{ task.description }}</td>
              <td>{{ task.statut }}</td>
              <td>{{ task.createdby.username }}</td>
              <td>
                <!-- Boutons liés à chaque tâche -->
                <a href="{% url 'update' task.id %}">
                    <button style="background-color: #4CAF50; color: white;">Modifier</button>
                </a>
                <a href="{% url 'delete' task.id %}">
                    <button style="background-color: #f44336; color: white;">Supprimer</button>
                </a>
            </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="5">Aucune tâche trouvée.</td>
            </tr>
          {% endfor %}
        </tbody>
      
      </table>
    


</body>
</html>