<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Page Register </title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>


<!-- partie pour register -->
<section class="register-part1">
    <h1><strong> Register Page </h1></strong>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        
        <button type="submit"> Register </button>
    </form>


</section>
</body>
</html>